body {
    margin: 100px 50px;
    background-color: #1F2937;
    border-radius: 10px;
}
h1 {
    color: white;
    margin-bottom: -10px;
}
span {
    color: #4ADF86;
}
h3 {
    color: #D5D4D8;
    font-weight: lighter;
    margin-bottom: 25px;
}

#generate-passwords {
    background-color: #10B981;
    color: white;
    padding: 8px 13px;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr {
    border: 1px solid #2F3E53;
}

#outputDiv {
    display: flex;
}
.output {
    margin-top: 25px;
    margin-right: 20px;
    padding: 8px 50px;
    background-color: #273549;
    color: #55F991;
    border-radius: 5px;
}